.Home-Title{
  font-size: 30px;
  margin-bottom: 30px;
}

.Home-Authenticate{
  font-size: 20px;
  margin-bottom: 20px;
}

.User-Header{
  padding:10px;
  background-color: lavender;
  font-size: 20px;
  margin-bottom: 10px;
}
